{%  extends 'site/partials/base.html.twig' %}

{% block title %}Inscription - Front2Back{% endblock %}

{% block body %}

    <h1>S'inscrire</h1>

    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12 col-lg-6 mb-3">
                {{ form_row(form.firstname) }}
            </div>
            <div class="col-md-12 col-lg-6 mb-3">
                {{ form_row(form.email) }}
            </div>
            <div class="col-12 mb-3">
                {{ form_row(form.password) }}
            </div>

            <button type="submit" class="btn btn-primary">S'inscrire</button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
