{#change form-footer with clip-path#}

<div class="form-footer"></div>
<footer class="py-5 text-center text-white footer-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h5>Plan du site</h5>
                <a href="{{ path('home') }}">Accueil</a> <br>
{#                {% for categorie in categories %}#}
{#                    <a href="{{ path('categorie_show', {'slug': categorie.slug}) }}">{{ categorie.name }}</a> <br>#}
{#                {% endfor %}#}
{#                <a href="{{ path('contact') }}">Contact</a>#}
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="logo-footer" href="{{ path('home') }}"><img src="{{ asset('charte/logo-256px.jpg') }}" alt="logo front2back"></a>
                <h5>2018</h5>
{#                <a href="{{ path('conditions-generales') }}"><h5>Conditions générales</h5></a>#}
            </div>
            <div class="col-sm-12 col-md-4">
{#                <a class="img-footer" href="{{ path('contact') }}">#}
{#                    <img class="img-author-footer" src="{{ asset('charte/ainessette.png') }}" alt="image auteur du blog">#}
{#                </a>#}
            </div>
        </div>
    </div>
</footer>
