{% extends 'admin/partials/base.html.twig' %}

{% block title %}Editer le tag{% endblock %}

{% block body %}
    <div class="container frame mb-3">
        <h1>Editer le tag</h1>
    </div>
    <div class="container frame">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12 col-lg-6 mb-3">
                {{ form_errors(form.name) }}
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="col-md-12 col-lg-6 mb-3">
                {{ form_errors(form.slug) }}
                {{ form_label(form.slug) }}
                {{ form_widget(form.slug) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                {{ form_errors(form.description) }}
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="submit">Enregistrer les modifications</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
