{% extends 'site/partials/base.html.twig' %}

{% block title %}{{ post.title}} - Front2Back{% endblock %}

{% block body %}
    <div class="container glass-frame mb-5">
        {% if post.urlImage is not null %}
            <img class="img-post" src="{{ vich_uploader_asset(post, 'imageFile')}}" alt="image de la veille">
        {% else %}
            Cet article n'a pas encore d'image
        {% endif %}
    </div>

    <div class="container glass-frame">
        <h1>{{ post.title }}</h1>
        <p>Auteur de la veille: {{ post.author.firstname }}</p>
        <p>Veille posté le {{ post.postCreatedAt | date("d/m/Y H:i:s") }}</p>
        <p>{{ post.content }}</p>
    </div>

    <div class="container glass-frame mt-5">
        <h2 class="text-center">Poster un commentaire</h2>
        {{ form_start(form) }}
        {% if app.user is null %}
{#            {{ dump(app.user) }}#}
{#            {{ form_row(form.email) }}#}
            <div class="row">
                <div class="col-12">
                {{ form_errors(form.email) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                </div>
            </div>
        {% endif %}
        <div class="row mt-3">
            <div class="col-12">
                {{ form_errors(form.content) }}
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
            </div>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Commenter</button>
        {{ form_end(form) }}
    </div>

    <div class="container glass-frame mt-5">
        <h2 class="text-center mb-3">Commentaires</h2>
        {% if comments is empty %}
            <p class="text-center">Aucuns commentaires pour l'instant sur cet article</p>
        {% else %}
            {% for comment in comments %}
                {% if comment.approval == true %}
                    <div class="container glass-frame mb-3">
                        <p>Commentaire posté le {{ comment.commentedAt | date("d/m/Y H:i:s") }}</p>
                        <p>{{ comment.content }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
