{% extends 'admin/partials/base.html.twig' %}

{% block title %}Créer un nouveau badge{% endblock %}

{% block body %}
    <div class="container frame mb-3">
        <h1>Créer un nouveau badge</h1>
    </div>
    <div class="container frame">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12 col-lg-6 mb-3">
                {{ form_errors(form.name) }}
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
{#            <div class="col-md-12 col-lg-6 mb-3">#}
{#                {{ form_errors(form.slug) }}#}
{#                {{ form_label(form.slug) }}#}
{#                {{ form_widget(form.slug) }}#}
{#            </div>#}
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                {{ form_errors(form.imageFile) }}
                {{ form_label(form.imageFile) }}
                {{ form_widget(form.imageFile) }}
            </div>
{#            <div class="col-12 mb-3">#}
{#                {{ form_errors(form.refDescription) }}#}
{#                {{ form_label(form.refDescription) }}#}
{#                {{ form_widget(form.refDescription) }}#}
{#            </div>#}
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                {{ form_errors(form.actionName) }}
                {{ form_label(form.actionName) }}
                {{ form_widget(form.actionName) }}
            </div>
            <div class="col-12 mb-3">
                {{ form_errors(form.actionDelimiter) }}
                {{ form_label(form.actionDelimiter) }}
                {{ form_widget(form.actionDelimiter) }}
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col-12 mb-3">#}
{#                {{ form_errors(form.tag) }}#}
{#                {{ form_label(form.tag) }}#}
{#                {{ form_widget(form.tag) }}#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <button class="btn btn-primary" type="submit">Créer le badge</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
