{% extends 'site/partials/base.html.twig' %}

{% block body %}

    <h1>Modifier votre mot de passe</h1>

    {{ form_start(form) }}

    {{ form_label(form.password) }}
    {{ form_errors(form.password) }}
    {{ form_widget(form.password) }}

    {{ form_label(form.plainPassword) }}
    {{ form_errors(form.plainPassword) }}
    {{ form_widget(form.plainPassword) }}

    <button type="submit">Enregistrer la modification du mot de passe</button>

    {{ form_end(form) }}

{% endblock %}
