{%  extends 'site/partials/base.html.twig' %}

{% block body %}

    <h1>Modifier vos données personnelles</h1>

    {{ form_start(form) }}

    {% if avatar is not null and avatar is not empty %}
        <img src="{{ vich_uploader_asset(avatar, 'imageFile') }}" alt="avatar de l'utilisateur" width="100%">
    {% else %}
        <img src="{{ asset('img/profil/default.png') }}" alt="avatar par défaut" width="100%">
    {% endif %}

    {{ form_label(form.firstname) }}
    {{ form_errors(form.firstname) }}
    {{ form_widget(form.firstname) }}

    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}

    <button type="submit">Enregistrer les modifications</button>

    {{ form_end(form) }}

{% endblock %}
